In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import os

#seleção da pasta
os.chdir('C:/Users/f8026379/Documents/MANP/Budget 2019/PAYG/Huawei/Auditoria_Q4')

#função para extração do dia do time stamp 
def dia(d):
    return d[0:10]

#abertura de arquivos
df_hua_a=pd.read_csv('KpiSelection__NETWORK_ENODEB_DEZ.csv',sep='\t')
df_hua_b=pd.read_csv('KpiSelection__NETWORK_NEID_DEZ.csv',sep='\t')


df_hua_a['NAME']=df_hua_a['ENODEB_NAME']
df_hua_b['NAME']=df_hua_b['NEID_NAME']
df_hua_a['RRC']=df_hua_a['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_b['RRC']=df_hua_b['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_a.drop(columns=['ENODEB_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)
df_hua_b.drop(columns=['NEID_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)
df_hua_a.dropna(axis=0,inplace=True,)
df_hua_b.dropna(axis=0,inplace=True,)

df_hua=pd.concat([df_hua_b,df_hua_a],axis=0,ignore_index=True)

#coluna dia do mês
df_hua['DIA']=df_hua.PERIOD_START_TIME.apply(dia)

#calculo do RRC médio
df_hua_max=df_hua.groupby(by=['NAME','DIA']).max()
df_hua_sum_max=df_hua_max.groupby('NAME').sum()
df_hua_MAX=df_hua_max.groupby('NAME').max()
df_rrc_hua=pd.merge(df_hua_sum_max,df_hua_MAX,on='NAME')
df_rrc_hua['RRC_MEAN']=(df_rrc_hua['RRC_x'] - df_rrc_hua['RRC_y'])/30
detalhe=df_hua_max.unstack()

#geração do report
writer = pd.ExcelWriter('Report_hua_DEZ.xlsx', engine='xlsxwriter')
df_rrc_hua.to_excel(writer, 'Base')
detalhe.to_excel(writer,'detalhe')
writer.save()

In [25]:
def d_int(d):
    return np.int(d[8:10])

In [95]:
df_hua_max.head()

                         PERIOD_START_TIME    RRC
NAME       DIA
18NLAACE02 2019-08-09  2019-08-09 23:00:00  276.0
           2019-08-10  2019-08-10 23:00:00  500.0
           2019-08-11  2019-08-11 23:00:00  461.0
           2019-08-12  2019-08-12 23:00:00  501.0
           2019-08-13  2019-08-13 09:00:00  476.0

In [28]:
df_hua['dia_mes']=df_hua.DIA.apply(d_int)

In [30]:
df_hua=df_hua.dia_mes.isin()

           PERIOD_START_TIME            NAME  RRC         DIA  dia_mes
2835194  2019-08-31 19:00:00  VOLTE_SCR-EnB1  2.0  2019-08-31       31
2835195  2019-08-31 20:00:00  VOLTE_SCR-EnB1  3.0  2019-08-31       31
2835196  2019-08-31 21:00:00  VOLTE_SCR-EnB1  1.0  2019-08-31       31
2835197  2019-08-31 22:00:00  VOLTE_SCR-EnB1  1.0  2019-08-31       31
2835198  2019-08-31 23:00:00  VOLTE_SCR-EnB1  1.0  2019-08-31       31

In [32]:
df_hua_p=df_hua[df_hua['dia_mes']>8]

In [33]:

#calculo do RRC médio
df_hua_max=df_hua_p.groupby(by=['NAME','DIA']).max()
df_hua_sum_max=df_hua_max.groupby('NAME').sum()
df_hua_MAX=df_hua_max.groupby('NAME').max()
df_rrc_hua=pd.merge(df_hua_sum_max,df_hua_MAX,on='NAME')
df_rrc_hua['RRC_MEAN']=(df_rrc_hua['RRC_x'] - df_rrc_hua['RRC_y'])/22


#geração do report
writer = pd.ExcelWriter('Report_hua_ago.xlsx', engine='xlsxwriter')
df_rrc_hua.to_excel(writer, 'Base')
writer.save()

In [ ]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import os

#seleção da pasta
os.chdir('C:/Users/f8026379/Documents/MANP/Budget 2019/PAYG/Huawei')

#função para extração do dia do time stamp 
def dia(d):
    return d[0:10]

#abertura de arquivos
df_hua_a=pd.read_csv('KpiSelection__NETWORK_hr_2019-09-01_2019-09-30_20191017113019822_58_308.csv',sep='\t')
df_hua_b=pd.read_csv('KpiSelection__NETWORK_hr_2019-09-01_2019-09-30_20191017105256883_20_824.csv',sep='\t')


df_hua_a['NAME']=df_hua_a['ENODEB_NAME']
df_hua_b['NAME']=df_hua_b['NEID_NAME']
df_hua_a['RRC']=df_hua_a['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_b['RRC']=df_hua_b['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_a.drop(columns=['ENODEB_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)
df_hua_b.drop(columns=['NEID_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)
df_hua_a.dropna(axis=0,inplace=True,)
df_hua_b.dropna(axis=0,inplace=True,)

df_hua=pd.concat([df_hua_b,df_hua_a],axis=0,ignore_index=True)

#coluna dia do mês
df_hua['DIA']=df_hua.PERIOD_START_TIME.apply(dia)

#calculo do RRC médio
df_hua_max=df_hua.groupby(by=['NAME','DIA']).max()
df_hua_sum_max=df_hua_max.groupby('NAME').sum()
df_hua_MAX=df_hua_max.groupby('NAME').max()
df_rrc_hua=pd.merge(df_hua_sum_max,df_hua_MAX,on='NAME')
df_rrc_hua['RRC_MEAN']=(df_rrc_hua['RRC_x'] - df_rrc_hua['RRC_y'])/29


#geração do report
writer = pd.ExcelWriter('Report_hua_set.xlsx', engine='xlsxwriter')
df_rrc_hua.to_excel(writer, 'Base')
writer.save()

In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import os

#seleção da pasta
os.chdir('C:/Users/f8026379/Documents/MANP/Budget 2019/PAYG/Huawei')

#função para extração do dia do time stamp 
def dia(d):
    return d[0:10]

#abertura de arquivos
df_hua_a=pd.read_csv('KpiSelection__NETWORK_hr_2019-09-01_2019-09-30_20191017113019822_58_308.csv',sep='\t')
df_hua_b=pd.read_csv('KpiSelection__NETWORK_hr_2019-09-01_2019-09-30_20191017105256883_20_824.csv',sep='\t')

C:\Users\f8026379\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
df_hua_b.head()

,PERIOD_START_TIME,NEID_NAME,CELL_NAME,cellID,Número máximo de usuários conectados em RRC (acumulado no espaço)
0,2019-09-01 00:00:00,SLFNAG01,NaN,8,29.0
1,2019-09-01 00:00:00,SLFNAS01,NaN,8,3.0
2,2019-09-01 00:00:00,SLFNBD01,NaN,8,16.0
3,2019-09-01 00:00:00,SLFNCE01,NaN,8,1.0
4,2019-09-01 00:00:00,SLFNCH01,NaN,8,49.0

In [64]:
def chave(a,b,c):
    return str(a)+str(b)+str(c)

In [65]:
df_hua_a['NAME']=df_hua_a.apply(lambda row: chave(row['ENODEB_NAME'],row['CELL_NAME'],row['cellID']),axis=1)

In [70]:
df_hua_b['NAME']=df_hua_b.apply(lambda row: chave(row['NEID_NAME'],row['CELL_NAME'],row['cellID']),axis=1)

In [71]:
df_hua_a['RRC']=df_hua_a['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_b['RRC']=df_hua_b['Número máximo de usuários conectados em RRC (acumulado no espaço)']
df_hua_a.drop(columns=['ENODEB_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)
df_hua_b.drop(columns=['NEID_NAME','Número máximo de usuários conectados em RRC (acumulado no espaço)'],inplace=True)

In [78]:
df_hua=pd.concat([df_hua_b,df_hua_a],axis=0,ignore_index=True)

In [80]:
df_hua_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13534076 entries, 0 to 13534075
Data columns (total 5 columns):
PERIOD_START_TIME    object
CELL_NAME            object
cellID               object
NAME                 object
RRC                  float64
dtypes: float64(1), object(4)
memory usage: 516.3+ MB

In [81]:
df_hua_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296148 entries, 0 to 2296147
Data columns (total 5 columns):
PERIOD_START_TIME    object
CELL_NAME            object
cellID               int64
NAME                 object
RRC                  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 87.6+ MB

In [82]:
df_hua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15830224 entries, 0 to 15830223
Data columns (total 5 columns):
PERIOD_START_TIME    object
CELL_NAME            object
cellID               object
NAME                 object
RRC                  float64
dtypes: float64(1), object(4)
memory usage: 603.9+ MB

In [83]:
df_hua.head()

     PERIOD_START_TIME CELL_NAME cellID          NAME   RRC
0  2019-09-01 00:00:00       NaN      8  SLFNAG01nan8  29.0
1  2019-09-01 00:00:00       NaN      8  SLFNAS01nan8   3.0
2  2019-09-01 00:00:00       NaN      8  SLFNBD01nan8  16.0
3  2019-09-01 00:00:00       NaN      8  SLFNCE01nan8   1.0
4  2019-09-01 00:00:00       NaN      8  SLFNCH01nan8  49.0

In [84]:
df_hua.drop(columns=['CELL_NAME','cellID'],inplace=True)

In [93]:
#coluna dia do mês
df_hua['DIA']=df_hua.PERIOD_START_TIME.apply(dia)

#calculo do RRC médio
df_hua_max=df_hua.groupby(by=['NAME','DIA']).max()
df_hua_sum_max=df_hua_max.groupby('NAME').sum()
df_hua_MAX=df_hua_max.groupby('NAME').max()
df_rrc_hua=pd.merge(df_hua_sum_max,df_hua_MAX,on='NAME')
df_rrc_hua['RRC_MEAN']=(df_rrc_hua['RRC_x'] - df_rrc_hua['RRC_y'])/29
detalhe=df_hua_max.unstack()

#geração do report
writer = pd.ExcelWriter('Report_hua_set_cell.xlsx', engine='xlsxwriter')
df_rrc_hua.to_excel(writer, 'Base')
detalhe.to_excel(writer,'detalhe')
writer.save()